
<div class="content-form">
    <h3>Leave a comment</h3>
    <form method="post">
        <input type="text" placeholder="İsim" name="BlogID" value="@ViewBag.deger" required />
        <input type="text" placeholder="İsim" name="Commentator" required />
        <input type="text" placeholder="Email" name="Mail" required />
        <textarea placeholder="Message" name="CommentTor"  minlength="15"></textarea>
        <input type="submit" value="SEND" />
    </form>
</div>